@charset "utf-8";
/* CSS Document */

@font-face { 
font-family: "AlexBrush-Regular"; 
src:url(../fonts/AlexBrush-Regular.ttf) ;
} 

@font-face { 
font-family: "AlexBrush-Regular"; 
src:url(../fonts/KaushanScript-Regular.otf) ;
}
@font-face { 
font-family: "Exo-Regular"; 
src:url(../fonts/Exo-Regular.otf) ;
}


* {
	padding: 0;
	margin: 0;
	font-size: 20px;
}

body{
	padding: 10px;
	background:url(../img/bluejean.jpg) repeat;
}
.header{
	width: 1000px;
	height: 200px;
	margin: 0 auto;
	border:#6A5ACD solid 1px;
	border-radius:5px;
	overflow:hidden;
}
ul li{
	list-style-type:none;
}
	
.maincontent{
	width: 1000px;
	height: 800px;
	background-color: white;
	border:solid 1px white;
	border-radius: 5px;
	margin:0 auto;
	margin-top: 5px;
	clear: both;
}

.topcontent{

	height: 400px;

}
.topleft{
	width: 300px;
	height:250px;
	float: left;
	margin-left: 15px;
	margin-top: 80px;
}
.topright{
	font-family:"Exo-Regular";
	font-size: 20px;
	color:#333;
	width: 620px;
	height: 350px;
	background-color:white ;
	float: left;
	margin-left: 15px;
	margin-top: 20px;
	padding: 10px;
}

.bottomcontent{
	height:400px;

}
.bottomright{
	float: left;
	width: 500px;
	height:250px;
	margin-top: 50px;
}
.bottomleft{
	font-family:"Exo-Regular";
	font-size: 20px;
	width: 400px;
	height: 220px;
	float: left;
	margin-left: 15px;
	margin-right: 10px;
	margin-top: 50px;
	padding: 10px;
}
.nav{
	width: 1000px;
	height:50px;
	background:url(../img/coffee.jpg) repeat;
	overflow: hidden;
	margin:0 auto;
	border-color: 1px solid #CCC;
	border-radius: 5px;
	margin-top: 5px;
}
.nav ul li{
	float: left;
	line-height: 50px;
	margin:0px 20px;
}
.nav ul li a{
	display: block;
	text-align: center;
	width: 180px;
	text-decoration: none;
	font-family: "微软雅黑";
	font-size: 18px;
	font-weight: bold;
}
.nav ul li a:link, a:visited{
	color: #444444;

}
.nav ul li a:hover, a:active{
	background-color:#DEB887 ;
	color: white;
}
#log{
	float: right;
}
.userinfo{
	float: right;
	width: 500px;
}


.login{
	float: left;
	width: 130px;
	height: 25px;
	border-radius: 3px;
	margin-right: 8px;
	margin-top: 12px;

}

#login{
	font-family: "AlexBrush-Regular"; 
	text-align: center;
	width: 100px;
	height: 30px;
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
	background:url(../img/lightblue.jpg);
}

#login:hover{
	background:#390;
}

#signup{
	font-family: "AlexBrush-Regular";
	margin-top: 12px;
	text-align: center;
	width: 100px;
	height: 30px;
	float: left;
	border-radius: 3px;
	margin-left: 3px;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
	background:url(../img/lightblue.jpg)no-repeat;
}
#signup:hover{
	background:#390;
}

.text p a{
	text-decoration: none;
}

.footer{
	width: 1000px;
	height: 70px;
	background-color: white;
	border:solid 1px white;
	border-radius: 5px;
	margin:0 auto;
	margin-top: 5px;
}
address{
	margin-top: 10px;
	font-size: 10px;
	text-align: center;
	font-family: arial;
}

address a{
	font-size: 10px;
	text-decoration: none;
}

#signupboard{
	display: none;  
	position: absolute;  
	top: 25%;  
	left: 28%; 
	width: 45%;  
	height: 70%;  
	padding: 8px;  
	border: 8px solid #E8E9F7;  
	background-color: white; 
 	z-index:1002;  
	overflow: auto;

}

#signupboard div{
	width:95%;
	height:80%;
	margin:10px;
}


#bg{ 
	display: none;  
	position: absolute;  
	top: 0%;  
	left: 0%;  
	width: 100%;  
	height:1150px; 
	background-color: black;  
	z-index:1001;  
	-moz-opacity:0.5;  	
	opacity:.50;  
	filter: alpha(opacity=50);
}   